<!-- <div class="container">
    <form (ngSubmit) = "submitFood()" #foodForm = "ngForm">
        <div class="form-group">
            <h2>{{comleteDate|date}}</h2>
            <input type="text" class="form-control" id="food" [(ngModel)]="newFood.name" name="name" #name="ngModel" required>
            <label for="food">Food</label>
            <div [hidden]="food.valid || food.pristine" class="alert alert-danger">
                <p>Name of the food is required</p>
            </div>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" id="calories" [(ngModel)]="newFood.calories" name="calories" #calories="ngModel" required >
            <label for="calories"> Calories </label>
            <div [hidden]="calories.valid || calories.pristine" class="alert alert-danger">
                <p>Amount of calories is required</p>
            </div>
        </div>
        
        <div class="form-group">
            <input type="text" class="form-control" id="foodDetails" [(ngModel)]="newFood.foodDetails" name="foodDetails" #foodDetails="ngModel" required>
            <label for="foodDetails">Food Details</label>
            <div [hidden]="foodDetails.valid || foodDetails.pristine" class="alert alert-danger">
                <p>Food details are required</p>
            </div>
        </div>
        
        <button type="submit" class="btn btn-success" >Track Meal</button>
    </form>
</div> -->
